@import "tailwindcss";

:root {
  --color-primary: #e0fd35;
  --color-secondary: #1c1c1c;
  --color-accent: #ff6b00;
  --breakpoint-xl: 87.5rem;
}

@theme {
  --font-sans: "Inter Tight", sans-serif;
  --font-druk: "Druk", sans-serif;
  --breakpoint-xl: 87.5rem;
}

/* body {
  font-family: var(--font-sans)
} */

button {
  cursor: pointer;
}