@import "tailwindcss";

:root {
  --color-primary: #e0fd35;
  --color-secondary: #1c1c1c;
  --color-accent: #ff6b00;
  --breakpoint-xl: 87.5rem;
}

@theme {
  --font-sans: "Inter Tight", sans-serif;
  --font-druk: "Druk", sans-serif;
 
  --breakpoint-xl: 87.5rem; /* 1404px */
  --breakpoint-sm-custom: 29.375rem; /* 470px */
  
  --color-primary: #e0fd35;
  --color-secondary: #1c1c1c;
  --color-accent: #ff6b00;
}

::view-transition-new(root), 
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: opacity, transform, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 10000;
  animation: none !important;
}

button {
  cursor: pointer;
}